markerlist {
  .list-group {
    margin-bottom: 8px;
  }
  .marker.list-group-item {
    background-color: lighten($pumpkin-orange, 15%);
    border: 0;
    padding: 5px 8px 5px 8px;
    .marker-info {
      .fa-map-marker {
        color: $deep-red;
        vertical-align: middle;
        line-height: 1;
      }
      .starting-with, .ending-with {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 11px;
        color: $deep-red;
        margin-bottom: 4px;
      }
      .marker-title {
        margin-left: 15px;
        color: white;
        font-weight: 600;
        margin-bottom: 0;
      }
      .marker-address {
        margin-left: 15px;
        color: lighten($light-orange, 30%);
        margin-bottom: 0;
        font-style: italic;
      }
    }
  }

  .remove-marker {
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}
