querybox {
  position: fixed;
  z-index: 99999999;
  float: left;
  top: 0;
  left: 0;
  width: 410px;
  display: block;

  #querybox-wrapper {
    background: 0;
    width: 380px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);

    #querybox-top {
      background: $pumpkin-orange;
      .logo {
        float: left;
        margin-right: 8px;
        width: 40px;
        height: 40px;
      }
      #querybox-title {
        padding: 8px 8px 2px 8px;
        .app-title {
          margin-top: 0px;
          color: white;
        }
        .slogan {
          color: lighten($light-orange, 15%);
        }
      }
      #restart-search {
        i {
          margin-right: 5px;
        }
        color: white;
        float: right;
        padding: 0 10px 0 10px;
        background-color: $dark-purple;
        font-size: 13px;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
        border: 0;
      }
    }

    #hide-button {
      position: absolute;
      top: 0px;
      left: 380px;
      width: 30px;
      height: 24px;
      background-color: $medium-purple;
      color: white;
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    }

    .hide-tooltip {
      background: $dark-purple;
    }

    input {
      border: 0;
      padding: 4px;
      padding-left: 8px;
      color: $dark-blue;
      width: 380px;
      &:focus {
        outline: none;
      }
    }
  }

}

.move-left {
  left: -380px;
}

.pac-container {
  width: 380px !important;
  .pac-icon {
    color: $medium-purple;
  }
  .pac-item {
    color: $medium-purple;
  }
  .pac-item-query {
    color: $dark-blue;
  }
}
