@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600|Caveat:400,700);

$default-font: 'Titillium Web', Helvetica, sans-serif;
$fancy-font: 'Caveat', cursive;
$dark-blue: #1A2C39;
$dark-purple: #574B60;
$medium-purple: #7D8491;
$deep-red: #A2521F;
$water-blue: #ACBCC9;
$land-green: #C5DAC6;
$egg-yellow: #EAF0CE;
$pumpkin-orange: #CC692C;
$light-orange: #D88332;
