places-to-check-out {
  background-color: rgba(255, 255, 255, 0.85);
  overflow-y: auto;
  display: block;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;

  .ng-show {
    opacity: 1;
  }
  .fa-map-signs {
    margin-right: 8px;
  }
  .place-list-header {
    margin-left: 12px;
    margin-top: 10px;
    color: $medium-purple;
  }
  .place-list.list-group {
    border: 0;
    margin-bottom: 0px;

    li.place {
      padding: 8px 8px 8px 8px;
      background: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      border-radius: 0;
      border-top: 1px solid lighten(gray, 35%);
      &:first-child {
        border: 0;
      }
      &:last-child {
        padding-bottom: 10px;
      }
      &:hover {
        background-color: lighten(gray, 45%);
      }
      &:focus {
        outline: 0;
      }
      .place-pic {
        width: 40%;
        img {
          width: 100%;
        }
      }
      .place-info {
        &.place-columnized {
          margin-left: calc(40% + 10px);
          width: calc(60% - 10px);
        }
        .place-title {
          font-size: 16px;
          color: $dark-blue;
          margin-bottom: 3px;
        }
        .place-address {
          color: darken($water-blue, 5%);
        }
        .place-ratings {
          display: block;
        }
      }

      .glyphicon-star {
        color: $pumpkin-orange;
      }
      .glyphicon-star-empty {
        color: $pumpkin-orange;
      }
    }
  }
}
